
[submodule "bmya/odoo-bmya"]
	path = bmya/odoo-bmya
	url = git@github.com:bmya/odoo-bmya.git
	branch = 15.0_dev

[submodule "bmya/bmya-enterprise"]
	path = bmya/bmya-enterprise
	url = git@github.com:bmya/bmya-enterprise.git
	branch = 15.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 15.0
[submodule "bmya/account-payment"]
	path = bmya/account-payment
	url = git@github.com:bmya/account-payment.git
	branch = 15.0
[submodule "bmya/credit-control"]
	path = bmya/credit-control
	url = git@github.com:bmya/credit-control.git
	branch = 15.0
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:bmya/server-ux.git
	branch = 15.0
[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 15.0
