[submodule "bmya/odoo-bmya"]
	path = bmya/odoo-bmya
	url = git@github.com:bmya/odoo-bmya.git
	branch = 17.0

[submodule "bmya/bmya-enterprise"]
	path = bmya/bmya-enterprise
	url = git@github.com:bmya/bmya-enterprise.git
	branch = 17.0

[submodule "OCA/account-financial-tools"]
	path = oca/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 17.0

[submodule "bmya/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:bmya/account-payment.git
	branch = 17.0

[submodule "bmya/credit-control"]
	path = oca/credit-control
	url = git@github.com:bmya/credit-control.git
	branch = 17.0

[submodule "OCA/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:bmya/sale-workflow.git
	branch = 17.0
