[submodule "bmya/odoo-bmya"]
	path = bmya/odoo-bmya
	url = git@github.com:bmya/odoo-bmya.git
	branch = 17.0

[submodule "bmya/bmya-enterprise"]
	path = bmya/bmya-enterprise
	url = git@github.com:bmya/bmya-enterprise.git
	branch = 17.0-dev

[submodule "oca/credit-control"]
	path = oca/credit-control
	url = git@github.com:bmya/credit-control.git
	branch = 17.0

[submodule "oca/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:bmya/sale-workflow.git
	branch = 17.0
[submodule "bmya/bmya-tools"]
	path = bmya/bmya-tools
	url = git@github.com:bmya/bmya-tools.git
	branch = 17.0
[submodule "bmya/bmya-enterprise-release"]
	path = bmya/bmya-enterprise-release
	url = git@github.com:bmya/bmya-enterprise-release.git
	branch = 17.0
[submodule "bmya/update-odoo"]
	path = bmya/update-odoo
	url = git@github.com:bmya/update-odoo.git
	branch = 17.0
